div {
    background-color: blue;
}


nav {
    display: flex;
    justify-content: space-evenly;
}

.gunDiv {
    display: flex;
    flex-direction: column;
}

.gunContainer {
    margin: 100px 0px 100px 0px;
}

.hiddenName {
    display: none;
    background-color: cadetblue;
}

.visibleName {
    display: flex;
    background-color: cadetblue;
}
